#Logoinfo {
  text-align: center;
  background-image: url(../img/backgrounds/landing.jpg);
color:white;
font-style: italic;
}
#First{
  padding: 0;
  margin: 0;
}
.happyhour{
  background-color: white;
  height: 50%;
  text-align: center;
  padding-top: 40px;
  padding-bottom:40px;
  font-style: italic;
  padding-right: 0px;

}
.partytime{
  background-color: #F15A29;
  height: 50%;
  text-align: center;
  padding-top: 40px;
  padding-bottom:40px;
  font-style: italic;
  padding-right:0px;
  width: 100%


}
#Breakfast{
  height: 100%;
  background-image: url(../img/foodtop/breakfast.jpg);
  text-align: center;
  padding-top: 100px;
  padding-bottom:100px;
  font-size:25px;
  color: white;
font-style: italic;
background-repeat: no-repeat;

}
#Lunch{
  height: 100%;
  background-image: url(../img/foodtop/lunch.jpg);
  text-align: center;
  padding-top: 100px;
  padding-bottom:100px;
  font-size:25px;
  color: white;
font-style: italic;
background-repeat: no-repeat;
}
#Dinner{
  height: 100%;
   background-image: url(../img/foodtop/dinner.jpg);
   text-align: center;
   padding-top: 100px;
   padding-bottom:100px;
   font-size:25px;
   color: white;
 font-style: italic;
 background-repeat: no-repeat;

}
button{
  border-width: thin;
  border-color: #F15A29;
  border-style:solid;
  background-color: white;
}
#Drinks{
  text-align: right;
}
.slide p {
  text-align: center;
  color:  #F15A29;
}
.Jaafar{
background-image: url(../img/backgrounds/foodsBg.jpg);
padding-left: 150px;
padding-right: 150px;
padding-top: 50px;
padding-bottom: 50px;
}

#Custom{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
  border: 2px;
  text-align: center;
}
#Subscribe{
  text-align: center;
  background-image: url(../img/backgrounds/subscribe.jpg);
  /* padding-left:10 px;
  padding-right: 10px; */
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  margin: 0px;

  background-repeat: no-repeat;
}
#Pngs{
  text-align: center;
}
#menu{
  text-align: center;
  background-color: #F15A29;
  font-size: 5px;
  color: white;
  font-style:oblique;
  /* padding-right: 50px; */

}
#About{
  color:#F15A29;
}
#happy{
  color:#F15A29;
}
#George{
  font-weight: bold;
  font-style: italic;

}
.Subs{
  color:white;
}
.glyphicon{
  text-align: justify;
  color: white;
  float: left;
}
.btn{
  float: left;
}
.View {
 border-style: solid;
 border-color: #F15A29;
 border-width: thin;
 color: #F15A29;
 background-color: rgb(255, 255, 255);
}
.slide{
  color:  #F15A29;
}
#View2{
  float:right;
}
#View1{
  float:left;
}
.OITNB{
  color: white;
  background-color: #F15A29;
  height:25px;
  width:100px;
}
.email{
  opacity: 0.5;
  background-color: grey;
  color: white;
  outline: none;
  border:none;
  height:25px;
  width:200px;
}
.customer{
  color:#F15A29;
}
#thelist li{
  display: inline;
}
